<!-- About Me Section -->

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_clem-onojeghuo-143620.jpg?alt=media&token=562ce296-c68f-417c-a96d-9071844a6ff7'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">About Me</h1>
                  <!-- <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4> -->
                  <br />
                  <a href="#aboutme#learnMore" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Learn more
        </a>
      </div>
            </div>
        </div>
    </div>

<div id='learnMore' class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                      <h2 class="title">Chris Haider</h2>
                      <h5 class="description">I am a NASM-certified Personal Trainer that believes fitness is an essential part of a healthy lifestyle. I feel strongly that fitness and exercise go hand-in-hand with health, confidence, and overall personal happiness. I have witnessed this first-hand – with my clients and within my own life. I chose this path because I love working with people, giving them the tools needed to become stronger inside and out, and helping my clients achieve their PERSONAL BEST!</h5>
                      <br>
                      <hr>

                    <a href="#contact#link">  <button class='btn btn-raised' href="#contact"> Contact Me </button></a>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <img src="https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/FullSizeRender.jpg?alt=media&token=3d135887-6895-4716-a65a-04b5a27f9cc4" alt="Thumbnail Image" class="img-circle img-responsive" >
                    </div>

              </div>
              <div class="row">
                <h2> Certifications </h2>
                <h5 class="description">
NASM Certified Personal Trainer, NASM Corrective Exercise Specialist, Youth Conditioning Coach, Coach </h5>
                <br>
              </div>
