<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../public/assets/img/clem-onojeghuo-143620.jpg'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">About me.</h1>
                  <!-- <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4> -->
                  <br />
                  <a href="#aboutme#learnMore" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Learn more
        </a>
      </div>
            </div>
        </div>
    </div>

<div id='learnMore' class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h2 class="title">All about me</h2>
                      <h5 class="description">My personal training sessions include both 1:1 and small group sessions – it’s up to you! We begin with a 1:1 evaluation, where I assess each individual’s current fitness level, discuss your goals and aspirations, and gain an understanding of any limitations or constraints you might have. After the evaluation, I design a unique training plan that is right for YOU! Together, we will work through a variety of functional training, high-intensity interval training (HIIT), mobility, stability, and strength-training exercises. As time passes by, you’ll be amazed at what you can accomplish, continuously achieving goals and setting new ones, and your confidence will soar as you continue to redefine your PERSONAL BEST!</h5>
                      <br>
                      <hr>
                      <h2> Certifications </h2>
                      <h5 class="description">
NASM Certified Personal Trainer, NASM Corrective Exercise Specialist, Youth Conditioning Coach, Coach </h5>
                      <br>
                      <button class='btn' href="#contact"> Contact Me </button>
                    </div>

              </div>
