<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../public/assets/img/clem-onojeghuo-143620.jpg'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">About Me</h1>
                  <!-- <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4> -->
                  <br />
                  <a href="#aboutme#learnMore" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Learn more
        </a>
      </div>
            </div>
        </div>
    </div>

<div id='learnMore' class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h2 class="title">Chris Haider</h2>
                      <h5 class="description">I am a NASM-certified Personal Trainer that believes fitness is an essential part of a healthy lifestyle. I feel strongly that fitness and exercise go hand-in-hand with health, confidence, and overall personal happiness. I have witnessed this first-hand – with my clients and within my own life. I chose this path because I love working with people, giving them the tools needed to become stronger inside and out, and helping my clients achieve their PERSONAL BEST!</h5>
                      <br>
                      <hr>
                      <h2> Certifications </h2>
                      <h5 class="description">
NASM Certified Personal Trainer, NASM Corrective Exercise Specialist, Youth Conditioning Coach, Coach </h5>
                      <br>
                      <button class='btn' href="#contact"> Contact Me </button>
                    </div>

              </div>
