<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../public/assets/img/IMG_6522.JPG'); height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Time to workout.</h1>
                    <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4>
                    <br />
                    <a href="#classes#classInfo" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Training options
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id='classInfo' class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
              Keep HTML: <input type="checkbox" ng-model="admin.monday.On" ng-change='admin.saveProfile()'>
                <h2 class="text-center title">Monday</h2>
                <div class="btn-group text-center title" role="group">
                  <button type="button"  class="btn btn-default">Show</button>
                  <button type="button" class="btn btn-default">Hide</button>
                  <button type="button" class="btn btn-default">Clear</button>
                </div>
                <div class= "monday" ng-if="admin.monday.On">
                   <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Subject</label>
                            <input name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea name="message" class="form-control" rows="4"></textarea>
                </div>
                <input placeholder="{{admin.monday.Description}}" ng-model="admin.monday.Description" ng-change='admin.saveProfile()'>
                <!-- {{ admin.monday.Description | json }} -->
                </input>
              </div>

                <h2 class="text-center title">Tuesday</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Subject</label>
                            <input name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea name="message" class="form-control" rows="4"></textarea>
                </div>

                <h2 class="text-center title">Wednesday</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Subject</label>
                            <input name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea name="message" class="form-control" rows="4"></textarea>
                </div>

                <h2 class="text-center title">Thursday</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Subject</label>
                            <input name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea name="message" class="form-control" rows="4"></textarea>
                </div>

                <h2 class="text-center title">Friday</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Subject</label>
                            <input name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea name="message" class="form-control" rows="4"></textarea>
                </div>

                <h2 class="text-center title">Saturday</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Subject</label>
                            <input name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea name="message" class="form-control" rows="4"></textarea>
                </div>

                <h2 class="text-center title">Sunday</h2>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Subject</label>
                            <input name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea name="message" class="form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>
