<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_6522.jpg?alt=media&token=d2f44594-6245-4fe8-893a-739545112151'); height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Admin Page</h1>
                    <!-- <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4> -->
                    <br />
                    <a href="#classes#classInfo" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Training options
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id='classInfo' class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <h2 class="text-center title">Bootcamp 1</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.one.on" ng-change='admin.saveProfile()'>

                <div class= "monday" ng-if="admin.one.on">
                   <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Title</label>
                            <input ng-model="admin.one.title" ng-change='admin.saveProfile()' name="email" class="form-control" >

                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Date</label>
                            <input name="subject" ng-model="admin.one.date" ng-change='admin.saveProfile()' class="form-control">

                        </div>
                    </div>
                </div>
                <div class="row">
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Time</label>
                         <input name="email" ng-model="admin.one.time1" ng-change='admin.saveProfile()' class="form-control">

                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Location</label>
                         <input name="subject" ng-model="admin.one.location" ng-change='admin.saveProfile()' class="form-control">

                     </div>
                 </div>
             </div>
                <div class="form-group label-floating">
                    <label class="control-label">Description</label>
                    <textarea name="message" ng-model="admin.one.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.one.Description}}</textarea>
                </div>
                <!-- <input placeholder="{{admin.one.Description}}" ng-model="admin.one.Description" ng-change='admin.saveProfile()'> -->
                <!-- {{ admin.one.Description | json }} -->
                <!-- </input> -->
              </div>

                <h2 class="text-center title">Bootcamp 2</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.two.on" ng-change='admin.saveProfile()'>

                <div class= "tuesday" ng-if="admin.two.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.two.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.two.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.two.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.two.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.two.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>



                <h2 class="text-center title">Bootcamp 3</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.three.on" ng-change='admin.saveProfile()'>

                <div class= "wednesday" ng-if="admin.three.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.three.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.three.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.three.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.three.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.three.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Bootcamp 4</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.four.on" ng-change='admin.saveProfile()'>

                <div class= "thursday" ng-if="admin.four.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.four.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.four.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.four.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.four.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.four.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Bootcamp 5</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.five.on" ng-change='admin.saveProfile()'>

                <div class= "friday" ng-if="admin.five.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.five.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.five.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.five.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.five.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.five.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Bootcamp 6</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.six.on" ng-change='admin.saveProfile()'>

                <div class= "saturday" ng-if="admin.six.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.six.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.six.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.six.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.six.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.six.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Bootcamp 7</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.seven.on" ng-change='admin.saveProfile()'>

                <div class= "sunday" ng-if="admin.seven.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.seven.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.seven.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
                 </div>
                 <div class="row">
                 <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.seven.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.seven.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                 </div>
                 </div>
                 <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.seven.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
                 </div>
              </div>

              <h2 class="text-center title">Girl Strong (Day 1)</h2>
              Hide / Show: <input type="checkbox" ng-model="admin.GirlStrongOne.on" ng-change='admin.saveProfile()'>

              <div class= "girlstrong1" ng-if="admin.GirlStrongOne.on">
                <div class="row">
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Title</label>
                         <input ng-model="admin.GirlStrongOne.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                       </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Date</label>
                         <input name="subject" ng-model="admin.GirlStrongOne.date" ng-change='admin.saveProfile()' class="form-control">

                     </div>
                 </div>
               </div>
               <div class="row">
               <div class="col-md-6">
                  <div class="form-group label-floating">
                      <label class="control-label">Time</label>
                      <input name="email" ng-model="admin.GirlStrongOne.time1" ng-change='admin.saveProfile()' class="form-control">

                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group label-floating">
                      <label class="control-label">Location</label>
                      <input name="subject" ng-model="admin.GirlStrongOne.location" ng-change='admin.saveProfile()' class="form-control">

                  </div>
               </div>
               </div>
               <div class="form-group label-floating">
                 <label class="control-label">Description</label>
                 <textarea name="message" ng-model="admin.GirlStrongOne.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
            </div>

            <h2 class="text-center title">Girl Strong (Day 2)</h2>
            Hide / Show: <input type="checkbox" ng-model="admin.GirlStrongTwo.on" ng-change='admin.saveProfile()'>

            <div class= "GirlStrong2" ng-if="admin.GirlStrongTwo.on">
              <div class="row">
               <div class="col-md-6">
                   <div class="form-group label-floating">
                       <label class="control-label">Title</label>
                       <input ng-model="admin.GirlStrongTwo.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                     </div>
               </div>
               <div class="col-md-6">
                   <div class="form-group label-floating">
                       <label class="control-label">Date</label>
                       <input name="subject" ng-model="admin.GirlStrongTwo.date" ng-change='admin.saveProfile()' class="form-control">

                   </div>
               </div>
             </div>
             <div class="row">
             <div class="col-md-6">
                <div class="form-group label-floating">
                    <label class="control-label">Time</label>
                    <input name="email" ng-model="admin.GirlStrongTwo.time1" ng-change='admin.saveProfile()' class="form-control">

                </div>
             </div>
             <div class="col-md-6">
                <div class="form-group label-floating">
                    <label class="control-label">Location</label>
                    <input name="subject" ng-model="admin.GirlStrongTwo.location" ng-change='admin.saveProfile()' class="form-control">

                </div>
             </div>
             </div>
             <div class="form-group label-floating">
               <label class="control-label">Description</label>
               <textarea name="message" ng-model="admin.GirlStrongTwo.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
             </div>
          </div>

            </div>
        </div>
    </div>
