<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_6522.jpg?alt=media&token=d2f44594-6245-4fe8-893a-739545112151'); height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Admin Page</h1>
                    <!-- <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4> -->
                    <br />
                    <a href="#classes#classInfo" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Training options
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id='classInfo' class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <h2 class="text-center title">Day 1</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.1.on" ng-change='admin.saveProfile()'>

                <div class= "monday" ng-if="admin.1.on">
                   <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Title</label>
                            <input ng-model="admin.1.title" ng-change='admin.saveProfile()' name="email" class="form-control" >

                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Date</label>
                            <input name="subject" ng-model="admin.1.date" ng-change='admin.saveProfile()' class="form-control">

                        </div>
                    </div>
                </div>
                <div class="row">
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Time</label>
                         <input name="email" ng-model="admin.1.time1" ng-change='admin.saveProfile()' class="form-control">

                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Location</label>
                         <input name="subject" ng-model="admin.1.location" ng-change='admin.saveProfile()' class="form-control">

                     </div>
                 </div>
             </div>
                <div class="form-group label-floating">
                    <label class="control-label">Description</label>
                    <textarea name="message" ng-model="admin.1.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.1.Description}}</textarea>
                </div>
                <!-- <input placeholder="{{admin.1.Description}}" ng-model="admin.1.Description" ng-change='admin.saveProfile()'> -->
                <!-- {{ admin.1.Description | json }} -->
                <!-- </input> -->
              </div>

                <h2 class="text-center title">Tuesday</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.2.on" ng-change='admin.saveProfile()'>

                <div class= "tuesday" ng-if="admin.2.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.2.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.2.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.2.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.2.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.2.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>



                <h2 class="text-center title">Wednesday</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.3.on" ng-change='admin.saveProfile()'>

                <div class= "wednesday" ng-if="admin.3.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.3.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.3.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.3.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.3.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.3.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Thursday</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.4.on" ng-change='admin.saveProfile()'>

                <div class= "thursday" ng-if="admin.4.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.4.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.4.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.4.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.4.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.4.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Friday</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.5.on" ng-change='admin.saveProfile()'>

                <div class= "friday" ng-if="admin.5.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.5.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.5.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.5.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.5.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.5.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Saturday</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.6.on" ng-change='admin.saveProfile()'>

                <div class= "saturday" ng-if="admin.6.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.6.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.6.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.6.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.6.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                </div>
            </div>
               <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.6.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
              </div>


                <h2 class="text-center title">Sunday</h2>
                Hide / Show: <input type="checkbox" ng-model="admin.7.on" ng-change='admin.saveProfile()'>

                <div class= "sunday" ng-if="admin.7.on">
                  <div class="row">
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Title</label>
                           <input ng-model="admin.7.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                         </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group label-floating">
                           <label class="control-label">Date</label>
                           <input name="subject" ng-model="admin.7.date" ng-change='admin.saveProfile()' class="form-control">

                       </div>
                   </div>
                 </div>
                 <div class="row">
                 <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Time</label>
                        <input name="email" ng-model="admin.7.time1" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Location</label>
                        <input name="subject" ng-model="admin.7.location" ng-change='admin.saveProfile()' class="form-control">

                    </div>
                 </div>
                 </div>
                 <div class="form-group label-floating">
                   <label class="control-label">Description</label>
                   <textarea name="message" ng-model="admin.7.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
                 </div>
              </div>

              <h2 class="text-center title">Girl Strong (Day 1)</h2>
              Hide / Show: <input type="checkbox" ng-model="admin.GirlStrong1.on" ng-change='admin.saveProfile()'>

              <div class= "girlstrong1" ng-if="admin.GirlStrong1.on">
                <div class="row">
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Title</label>
                         <input ng-model="admin.GirlStrong1.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                       </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group label-floating">
                         <label class="control-label">Date</label>
                         <input name="subject" ng-model="admin.GirlStrong1.date" ng-change='admin.saveProfile()' class="form-control">

                     </div>
                 </div>
               </div>
               <div class="row">
               <div class="col-md-6">
                  <div class="form-group label-floating">
                      <label class="control-label">Time</label>
                      <input name="email" ng-model="admin.GirlStrong1.time1" ng-change='admin.saveProfile()' class="form-control">

                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group label-floating">
                      <label class="control-label">Location</label>
                      <input name="subject" ng-model="admin.GirlStrong1.location" ng-change='admin.saveProfile()' class="form-control">

                  </div>
               </div>
               </div>
               <div class="form-group label-floating">
                 <label class="control-label">Description</label>
                 <textarea name="message" ng-model="admin.GirlStrong1.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
               </div>
            </div>

            <h2 class="text-center title">Girl Strong (Day 2)</h2>
            Hide / Show: <input type="checkbox" ng-model="admin.GirlStrong2.on" ng-change='admin.saveProfile()'>

            <div class= "GirlStrong2" ng-if="admin.GirlStrong2.on">
              <div class="row">
               <div class="col-md-6">
                   <div class="form-group label-floating">
                       <label class="control-label">Title</label>
                       <input ng-model="admin.GirlStrong2.title" ng-change='admin.saveProfile()' name="email" class="form-control">

                     </div>
               </div>
               <div class="col-md-6">
                   <div class="form-group label-floating">
                       <label class="control-label">Date</label>
                       <input name="subject" ng-model="admin.GirlStrong2.date" ng-change='admin.saveProfile()' class="form-control">

                   </div>
               </div>
             </div>
             <div class="row">
             <div class="col-md-6">
                <div class="form-group label-floating">
                    <label class="control-label">Time</label>
                    <input name="email" ng-model="admin.GirlStrong2.time1" ng-change='admin.saveProfile()' class="form-control">

                </div>
             </div>
             <div class="col-md-6">
                <div class="form-group label-floating">
                    <label class="control-label">Location</label>
                    <input name="subject" ng-model="admin.GirlStrong2.location" ng-change='admin.saveProfile()' class="form-control">

                </div>
             </div>
             </div>
             <div class="form-group label-floating">
               <label class="control-label">Description</label>
               <textarea name="message" ng-model="admin.GirlStrong2.Description" ng-change='admin.saveProfile()' class="form-control" rows="4">{{admin.monday.Description}}</textarea>
             </div>
          </div>

            </div>
        </div>
    </div>
