<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/chaider9.jpg?alt=media&token=382025e7-36bf-49a9-a38f-fdd1fee5be7b'); height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Time to workout</h1>
                    <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4>
                    <br />
                    <a href="#classes#classInfo" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Training options
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id='classInfo' class="main main-raised">
        <!-- <div class="container"> -->
        <div class="section text-center section-landing">
            <div class='container'>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Bootcamp Photos</h2>
                        <h5 class="description"> Weekly bookcamps that help you become your Personal Best! Checkout the bootcamp times page for more info and find a time that works for you. </h5>
                    </div>
                </div>

                <div class="features">
                    <div class="row">


                    </div>
                </div>
            </div>


            <div class="section" id="carousel">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-md-offset-2">

           <!-- Carousel Card -->
           <div class="card card-raised card-carousel">
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <div class="carousel slide" data-ride="carousel">

                 <!-- Indicators -->
                 <ol class="carousel-indicators">
                   <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                 </ol>

                 <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                   <div class="item active">
                     <img class="rotateimg90" src="https://firebasestorage.googleapis.com/v0/b/photos-cd63a.appspot.com/o/pbf-photos%2FBA38B0B6-D593-40CE-9E74-8F2ABB3BDA94.JPG?alt=media&token=1872eb4b-5dae-401c-a470-96b9f770fc4a" alt="Awesome Image">
                     <div class="carousel-caption">
                       <!-- <h4> Weekly bootcamps around St.Paul</h4> -->
                     </div>
                   </div>
                   <div class="item">
                     <img src="https://firebasestorage.googleapis.com/v0/b/photos-cd63a.appspot.com/o/pbf-photos%2FC3425798-6F1F-4676-8068-D34C2A2F2721.JPG?alt=media&token=d7374050-3f6b-42b0-95dd-22c7903a2d98" alt="Awesome Image">
                     <div class="carousel-caption">
                       <!-- <h4>Online coaching to up your game!</h4> -->
                     </div>
                   </div>
                   <div class="item">
                     <img src="https://firebasestorage.googleapis.com/v0/b/photos-cd63a.appspot.com/o/pbf-photos%2Fimage1.JPG?alt=media&token=ae4173d6-dee3-4b69-81c5-2c428e969914" alt="Awesome Image">
                     <div class="carousel-caption">
                       <!-- <h4>Youth Conditioning for all levels</h4> -->
                     </div>
                   </div>
                 </div>

                 <!-- Controls -->
                 <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                   <i class="material-icons">keyboard_arrow_left</i>
                 </a>
                 <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                   <i class="material-icons">keyboard_arrow_right</i>
                 </a>
               </div>
             </div>
           </div>
           <!-- End Carousel Card -->

        </div>


    </div>

</div>
