

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_clem-onojeghuo-143620.jpg?alt=media&token=562ce296-c68f-417c-a96d-9071844a6ff7'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">Time To Sweat</h1>
        <h4>Be happy. Be healthy. Let's work together to <br> achieve your personal best.</h4>
                  <br />
                  <a href="#bootcamp#learnMore" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Learn more
        </a>
      </div>
            </div>
        </div>
    </div>

<div id='learnMore' class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                <!-- <div style="position: absolute; height: 500px;"> -->
                  <!--Monday Bootcamp -->
                  <div class="col-md-6 set-height" ng-if="bootcamp.monday.on" >
                      <img src="{{bootcamp.monday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                      <h2 class="title">{{bootcamp.monday.title | characters:50}}</h2>
                      <h3 class="description">{{bootcamp.monday.date}} at <br> {{bootcamp.monday.time1}}</h2>

                      <h5 class="description">{{bootcamp.monday.Description | characters:100}}</h5>
                      <div class='text-center'>
                      <button type="submit" class="btn btn-raised " layout-align="space-around center" > Learn More </button>
                    </div>
                      <br>

                      </div>

                    <!--Tuesday Bootcamp -->
                    <div class="col-md-6 set-height" ng-if="bootcamp.tuesday.on"  >
                        <img src="{{bootcamp.tuesday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                        <h2 class="title">{{bootcamp.tuesday.title}}</h2>
                        <h3 class="description">{{bootcamp.tuesday.date}} at <br> {{bootcamp.tuesday.time1}}</h2>
                        <h5 class="description">{{bootcamp.tuesday.Description | characters:100}}</h5>
                        <button type="submit" class="btn btn-raised " layout-align="space-around center" > Learn More </button>

                        <br>

                        </div>

                  <!--Wednesday Bootcamp -->
                  <div class="col-md-6 set-height" ng-if="bootcamp.wednesday.on">
                      <img src="{{bootcamp.wednesday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                      <h2 class="title">{{bootcamp.wednesday.title}}</h2>
                      <h3 class="description">{{bootcamp.wednesday.date}} at <br> {{bootcamp.wednesday.time1}}</h2>
                      <h5 class="description">{{bootcamp.wednesday.Description | characters:100}}</h5>
                      <button type="submit" class="btn btn-raised" layout-align="space-around center" > Learn More </button>

                      <br>

                      </div>

                      <div class="col-md-6 set-height" ng-if="bootcamp.thursday.on">
                          <img src="{{bootcamp.thursday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                          <h2 class="title">{{bootcamp.thursday.title}}</h2>
                          <h3 class="description">{{bootcamp.thursday.date}} at <br> {{bootcamp.thursday.time1}}</h2>
                          <h5 class="description">{{bootcamp.thursday.Description | characters:100}}</h5>
                          <h5 class="description">{{bootcamp.thursday.location}}</h5>
                          <button type="submit" class="btn btn-raised" layout-align="space-around center" > Learn More </button>

                          <br>

                          </div>

                    </div>
                  </div>
              </div>
