<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/IMG_8289.JPG?alt=media&token=635f7d8a-ddbc-4c3b-ae95-fb500120a38f'); height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Time To Sweat</h1>
                    <h4>Be happy. Be healthy. Let's work together to <br> achieve your personal best.</h4>
                    <br />
                    <a href="#bootcamp#learnMore" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id='learnMore' class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <div class="row">
                    <!-- <div style="position: absolute; height: 500px;"> -->
                    <!--Monday Bootcamp -->
                    <div class="col-md-6 set-height" ng-if="bootcamp.monday.on">
                        <img ng-src="https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_8116.jpg?alt=media&token=c17834be-c8ca-47bb-b7eb-9ff01ac49518" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                        <h2 class="title">{{bootcamp.monday.title | characters:50}}</h2>
                        <h3 class="description">{{bootcamp.monday.date}} at <br> {{bootcamp.monday.time1}}</h2>
                        <h5 class="description">Where: {{bootcamp.monday.location}}</h5>
                      <h5 class="description">{{bootcamp.monday.Description | characters:100}}</h5>
                      <!-- <div class='text-center'> -->
                      <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#mondayModal" layout-align="space-around center" > Learn More </button>

                      <br>
                    </div>

                      <!-- </div> -->

                    <!--Tuesday Bootcamp -->
                    <div class="col-md-6 set-height" ng-if="bootcamp.tuesday.on"  >
                        <img ng-src="https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_8116.jpg?alt=media&token=c17834be-c8ca-47bb-b7eb-9ff01ac49518" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                        <h2 class="title">{{bootcamp.tuesday.title}}</h2>
                        <h3 class="description">{{bootcamp.tuesday.date}} at <br> {{bootcamp.tuesday.time1}}</h2>
                          <h5 class="description">Where: {{bootcamp.tuesday.location}}</h5>

                        <h5 class="description">{{bootcamp.tuesday.Description | characters:100}}</h5>
                        <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#tuesdayModal" layout-align="space-around center" > Learn More </button>

                        <br>

                        </div>

                  <!--Wednesday Bootcamp -->
                  <div class="col-md-6 set-height" ng-if="bootcamp.wednesday.on">
                      <img ng-src="{{bootcamp.wednesday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                      <h2 class="title">{{bootcamp.wednesday.title}}</h2>
                      <h3 class="description">{{bootcamp.wednesday.date}} at <br> {{bootcamp.wednesday.time1}}</h2>
                        <h5 class="description">Where: {{bootcamp.wednesday.location}}</h5>

                      <h5 class="description">{{bootcamp.wednesday.Description | characters:100}}</h5>
                      <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#wednesdayModal" layout-align="space-around center" > Learn More </button>

                      <br>

                      </div>

                <!-- Thursday Bootcamp -->
                <div class="col-md-6 set-height" ng-if="bootcamp.thursday.on">
                    <img ng-src="https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_8116.jpg?alt=media&token=c17834be-c8ca-47bb-b7eb-9ff01ac49518" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                    <h2 class="title">{{bootcamp.thursday.title}}</h2>
                    <h3 class="description">{{bootcamp.thursday.date}} at <br> {{bootcamp.thursday.time1}}</h2>
                      <h5 class="description">Where: {{bootcamp.thursday.location}}</h5>
                    <h5 class="description">{{bootcamp.thursday.Description | characters:100}}</h5>
                    <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#thursdayModal" layout-align="space-around center" > Learn More </button>

                    <br>

                    </div>


                          <!-- Friday Bootcamp -->
                  <div class="col-md-6 set-height" ng-if="bootcamp.friday.on">
                      <img src="../public/assets/img/bootcamp-pbf.jpg" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                      <h2 class="title">{{bootcamp.friday.title}}</h2>
                      <h3 class="description">{{bootcamp.friday.date}} at <br> {{bootcamp.friday.time1}}</h2>
                        <h5 class="description">Where: {{bootcamp.friday.location}}</h5>
                      <h5 class="description">{{bootcamp.friday.Description | characters:100}}</h5>
                      <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#fridayModal" layout-align="space-around center" > Learn More </button>

                      <br>

                      </div>

                    <!-- Saturday Bootcamp -->
                    <div class="col-md-6 set-height" ng-if="bootcamp.saturday.on">
                        <img src="../public/assets/img/stairs-pbf.jpg" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                        <h2 class="title">{{bootcamp.saturday.title}}</h2>
                        <h3 class="description">{{bootcamp.saturday.date}} at <br> {{bootcamp.saturday.time1}}</h2>
                        <h5 class="description">Where: {{bootcamp.saturday.location}}</h5>

                        <h5 class="description">{{bootcamp.saturday.Description | characters:100}}</h5>
                        <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#saturdayModal" layout-align="space-around center" > Learn More </button>

                        <br>

                        </div>

                      <!-- Sunday Bootcamp -->
                      <div class="col-md-6 set-height" ng-if="bootcamp.sunday.on">
                          <img ng-src="{{bootcamp.sunday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                          <h2 class="title">{{bootcamp.sunday.title}}</h2>
                          <h3 class="description">{{bootcamp.sunday.date}} at <br> {{bootcamp.sunday.time1}}</h2>
                            <h5 class="description">{{bootcamp.sunday.location}}</h5>
                          <h5 class="description">{{bootcamp.sunday.Description | characters:100}}</h5>

                          <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#sundayModal" layout-align="space-around center" > Learn More </button>

                          <br>

                          </div>



                    </div>
                  </div>
              </div>

</div>
</div>
    <!-- Start Modals -->
    <!-- Monday Modal -->
<div class="modal fade" id="mondayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{bootcamp.monday.title}}</h4>
			</div>
			<div class="modal-body">
				<p> {{bootcamp.monday.Description}}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Tuesday Moday -->
<div class="modal fade" id="tuesdayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{bootcamp.tuesday.title}}</h4>
			</div>
			<div class="modal-body">
        <p> {{bootcamp.tuesday.Description}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Wednesday Moday -->
<div class="modal fade" id="wednesdayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{bootcamp.wednesday.title}}</h4>
			</div>
			<div class="modal-body">
        <p> {{bootcamp.wednesday.Description}}				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Thursday Moday -->
<div class="modal fade" id="thursdayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{bootcamp.thursday.title}}</h4>
			</div>
			<div class="modal-body">
				  <p> {{bootcamp.thursday.Description}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Friday Modal -->
<div class="modal fade" id="fridayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{bootcamp.friday.title}}</h4>
			</div>
			<div class="modal-body">
				    <p> {{bootcamp.friday.Description}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Saturday Modal -->
<div class="modal fade" id="saturdayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{bootcamp.saturday.title}}</h4>
			</div>
			<div class="modal-body">
          <p> {{bootcamp.saturday.Description}}	</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Sunday Moday -->
<div class="modal fade" id="sundayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{bootcamp.sunday.title}}</h4>
			</div>
			<div class="modal-body">
				  <p> {{bootcamp.sunday.Description}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
