

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_clem-onojeghuo-143620.jpg?alt=media&token=562ce296-c68f-417c-a96d-9071844a6ff7'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">Bootcamps</h1>
                  <!-- <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4> -->
                  <br />
                  <a href="#aboutme#learnMore" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Learn more
        </a>
      </div>
            </div>
        </div>
    </div>

<div id='learnMore' class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                  <!--Monday Bootcamp -->
                  <div class="col-md-4 " ng-if="bootcamp.monday.on">
                      <img src="{{bootcamp.monday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                      <h2 class="title">{{bootcamp.monday.title}}</h2>
                      <h5 class="description">{{bootcamp.monday.Description}}</h5>
                      <br>
                      <hr>
                      </div>

                    <!--Tuesday Bootcamp -->
                    <div class="col-md-4" ng-if="bootcamp.tuesday.on">
                        <img src="{{bootcamp.tuesday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                        <h2 class="title">{{bootcamp.tuesday.title}}</h2>
                        <h5 class="description">{{bootcamp.tuesday.Description}}</h5>
                        <br>
                        <hr>
                        </div>

                  <!--Wednesday Bootcamp -->
                  <div class="col-md-4" ng-if="bootcamp.wednesday.on">
                      <img src="{{bootcamp.wednesday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                      <h2 class="title">{{bootcamp.wednesday.title}}</h2>
                      <h5 class="description">{{bootcamp.wednesday.Description}}</h5>
                      <br>
                      <hr>
                      </div>

                      <div class="col-md-4" ng-if="bootcamp.thursday.on">
                          <img src="{{bootcamp.thursday.pic}}" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                          <h2 class="title">{{bootcamp.thursday.title}}</h2>
                          <h5 class="description">{{bootcamp.thursday.Description}}</h5>
                          <br>
                          <hr>
                          </div>

                    </div>

              </div>
