<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../public/assets/img/bruno-nascimento-149663.JPG'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">Write the best title.</h1>
                  <h4>Every landing page needs a small description <br> after the big bold title, that's why we added this <br> text here. Add here all the information that can <br> make you or your product create the first impression.</h4>
                  <br />
                  <a href=""http://www.google.com"" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Find Out More
        </a>
      </div>
            </div>
        </div>
    </div>

<div class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h2 class="title">Let's talk product</h2>
                      <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                  </div>
              </div>

      <div class="features">
        <div class="row">
                    <div class="col-md-4">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">account_circle</i>
              </div>
              <h4 class="info-title">Personal Training</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
                    </div>
                    <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">face</i>
              </div>
              <h4 class="info-title">Youth Conditioning</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
                    </div>
                    <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">computer</i>
              </div>
              <h4 class="info-title">Online Coaching</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
                    </div>
                </div>
      </div>
          </div>

</div>
