<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../public/assets/img/IMG_6522.JPG'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">Time to workout.</h1>
                  <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4>
                  <br />
                  <a href="#classes#classInfo" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Training options
        </a>
      </div>
            </div>
        </div>
    </div>

<div id='classInfo' class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h2 class="title">Let's talk fitness</h2>
                      <h5 class="description">My personal training sessions include both 1:1 and small group sessions – it’s up to you! We begin with a 1:1 evaluation, where I assess each individual’s current fitness level, discuss your goals and aspirations, and gain an understanding of any limitations or constraints you might have. After the evaluation, I design a unique training plan that is right for YOU! Together, we will work through a variety of functional training, high-intensity interval training (HIIT), mobility, stability, and strength-training exercises. As time passes by, you’ll be amazed at what you can accomplish, continuously achieving goals and setting new ones, and your confidence will soar as you continue to redefine your PERSONAL BEST!</h5>
                  </div>
              </div>

      <div class="features">
        <div class="row">
                    <div class="col-md-4">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">account_circle</i>
              </div>
              <h4 class="info-title">Personal Training</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
                    </div>
                    <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">face</i>
              </div>
              <h4 class="info-title">Youth Conditioning</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
                    </div>
                    <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">computer</i>
              </div>
              <h4 class="info-title">Online Coaching</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
                    </div>
                </div>
      </div>
          </div>

</div>
