<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_6522.jpg?alt=media&token=d2f44594-6245-4fe8-893a-739545112151'); height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Time to workout.</h1>
                    <h4>My personal training sessions include both<br>  1:1 and small group sessions – it’s up to you! </h4>
                    <br />
                    <a href="#classes#classInfo" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Training options
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id='classInfo' class="main main-raised">
        <!-- <div class="container"> -->
        <div class="section text-center section-landing">
            <div class='container'>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Let's talk fitness</h2>
                        <h5 class="description">My personal training sessions include both 1:1 and small group sessions – it’s up to you! We begin with a 1:1 evaluation, where I assess each individual’s current fitness level, discuss your goals and aspirations, and gain an understanding of any limitations or constraints you might have. After the evaluation, I design a unique training plan that is right for YOU! Together, we will work through a variety of functional training, high-intensity interval training (HIIT), mobility, stability, and strength-training exercises. As time passes by, you’ll be amazed at what you can accomplish, continuously achieving goals and setting new ones, and your confidence will soar as you continue to redefine your PERSONAL BEST!</h5>
                    </div>
                </div>

                <div class="features">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="material-icons">account_circle</i>
                                </div>
                                <h4 class="info-title">Personal Training</h4>
                                <p> My personal training sessions include both 1:1 and small group sessions – it’s up to you! We begin with a 1:1 evaluation, where I assess each individual’s current fitness level, discuss your goals and aspirations, and gain an understanding of any limitations or constraints you might have. After the evaluation, I design a unique training plan that is right for YOU! Together, we will work through a variety of functional training, high-intensity interval training (HIIT), mobility, stability, and strength-training exercises. As time passes by, you’ll be amazed at what you can accomplish, continuously achieving goals and setting new ones, and your confidence will soar as you continue to redefine your PERSONAL BEST!</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">face</i>
                                </div>
                                <h4 class="info-title">Youth Conditioning</h4>
                                <p> I also offer youth conditioning classes, for kids ages 10-17. These sessions are offered as either 1:1 or small group sessions, and are focused on each individual’s unique fitness goals. Kids will learn the importance of a healthy lifestyle, including both exercise and nutrition coaching. During these sessions, I work with the kids on proper form and technique, increased speed and agility, improved strength, stability, and mobility, and help to enhance overall athletic performance. We also discuss the importance of healthy nutrition options – for pre-workout, post-workout, and in their everyday lives. Sign-up now to start your child down a path of a healthy lifestyle! </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="material-icons">computer</i>
                                </div>
                                <h4 class="info-title">Online Coaching</h4>
                                <p> Stuck in a workout rut and looking for some fresh ideas to change-up your routine? Already a disciplined exerciser that is looking for tips and guidance to make sure you’re on the right track? Consider my online coaching program, where I offer regular coaching and updated training plans for you to work on your own time. This program begins with a 1:1 evaluation, where I learn about your situation, your goals, and your current fitness level. Then I provide a unique training plan for you to work on – on your own! Finally, we’ll have regular check-ins where I can answer questions and make adjustments as needed, and I will continue to modify your workouts over time in order to avoid workout boredom and maximize your fitness results! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="carousel">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-md-offset-2">

           <!-- Carousel Card -->
           <div class="card card-raised card-carousel">
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <div class="carousel slide" data-ride="carousel">

                 <!-- Indicators -->
                 <ol class="carousel-indicators">
                   <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                 </ol>

                 <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                   <div class="item active">
                     <img src="https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/IMG_6595.JPG?alt=media&token=fa6863cb-42ae-4c00-9002-7fafabbd2657" alt="Awesome Image">
                     <div class="carousel-caption">
                       <h4> Weekly Bootcamps in St.Paul</h4>
                     </div>
                   </div>
                   <div class="item">
                     <img src="https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_6524.jpg?alt=media&token=2e9c601a-cc95-412a-8e28-58bcc74b72fc" alt="Awesome Image">
                     <div class="carousel-caption">
                       <h4>Online training to up your game!</h4>
                     </div>
                   </div>
                   <div class="item">
                     <img src="https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/youth-con.jpg?alt=media&token=11eb965a-e996-45c6-9bc9-dec13678c131" alt="Awesome Image">
                     <div class="carousel-caption">
                       <h4>Youth Conditioning for all levels</h4>
                     </div>
                   </div>
                 </div>

                 <!-- Controls -->
                 <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                   <i class="material-icons">keyboard_arrow_left</i>
                 </a>
                 <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                   <i class="material-icons">keyboard_arrow_right</i>
                 </a>
               </div>
             </div>
           </div>
           <!-- End Carousel Card -->

        </div>


    </div>

</div>
