<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../public/assets/img/IMG_6522.JPG'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">Let's Chat.</h1>
                  <h4>Every landing page needs a small description <br> after the big bold title, that's why we added this <br> text here. Add here all the information that can <br> make you or your product create the first impression.</h4>
                  <br />
                  <a href=""http://www.google.com"" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Find Out More
        </a>
      </div>
            </div>
        </div>
    </div>


    <div class="main main-raised">
    

    <div class="section landing-section">
          <div class="row">
            <div class="section landing-section">
                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                          <h2 class="text-center title">Let's Chat</h2>
              <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
                          <form class="contact-form">
                              <div class="row">
                                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">First Name</label>
                      <input class="form-control">
                    </div>
                                  </div>
                                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Last Name</label>
                      <input  class="form-control">
                    </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Email</label>
                      <input type="email" class="form-control">
                    </div>
                                  </div>
                                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Subject</label>
                      <input class="form-control">
                    </div>
                                  </div>
                              </div>


                <div class="form-group label-floating">
                  <label class="control-label">Your Message</label>
                  <textarea class="form-control" rows="4"></textarea>
                </div>



                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">



                <div class="form-group label-floating">
                  <label class="control-label">Fitness Goals</label>
                  <textarea class="form-control" rows="4"></textarea>
                </div>

                <div class="form-group label-floating">
                  <label class="control-label">Other</label>
                  <textarea class="form-control" rows="4"></textarea>
                </div>

                              <div class="row">
                                  <div class="col-md-4 col-md-offset-4 text-center">
                                      <button class="btn btn-raised">
                      Send Message
                    </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>


              </div>
</div>
</div>
</div>
