<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/chaider9.jpg?alt=media&token=382025e7-36bf-49a9-a38f-fdd1fee5be7b'); height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Girl Strong</h1>
                    <h4>Be strong -- Be confident </h4>
                    <br />
                    <a href="#classes#classInfo" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Training options
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id='classInfo' class="main main-raised">
        <!-- <div class="container"> -->
        <div class="section text-center section-landing">
            <div class='container'>
                <div class="row">
                    <div class="col-md-6">
                      <br><br><br>
                        <h2 class="title">What is Girl Strong?</h2>
                        <h5 class="description">My personal training sessions include both 1:1 and small group sessions – it’s up to you! We begin with a 1:1 evaluation, where I assess each individual’s current fitness level, discuss your goals and aspirations, and gain an understanding of any limitations or constraints you might have. After the evaluation, I design a unique training plan that is right for YOU! Together, we will work through a variety of functional training, high-intensity interval training (HIIT), mobility, stability, and strength-training exercises. As time passes by, you’ll be amazed at what you can accomplish, continuously achieving goals and setting new ones, and your confidence will soar as you continue to redefine your PERSONAL BEST!</h5>
                    </div>



                      <div class="col-md-6">
                      <img class="img-responsive" src="./public/assets/img/girl-strong-01.png">
                    </div>
                  </div>
            </div>
            <br> <br>
            <br> <br>

            <div class="container">
              <div class="row">
                <div class="col-md-6 set-height" ng-if="GirlStrong.GirlStrongOne.on">
                    <img src="../public/assets/img/bootcamp-pbf.jpg" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                    <h2 class="title">{{GirlStrong.GirlStrongOne.title}}</h2>
                    <h3 class="description">{{GirlStrong.GirlStrongOne.date}} at <br> {{GirlStrong.GirlStrongOne.time1}}</h2>
                      <h5 class="description">Where: {{GirlStrong.GirlStrongOne.location}}</h5>
                    <h5 class="description">{{GirlStrong.GirlStrongOne.Description | characters:100}}</h5>
                    <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#GirlStrongOneModal" layout-align="space-around center" > Learn More </button>

                    <br>

                    </div>

                    <div class="col-md-6 set-height" ng-if="GirlStrong.GirlStrongOne.on">
                        <img src="../public/assets/img/bootcamp-pbf.jpg" alt="Rounded Image" class="img-rounded img-raised img-responsive">
                        <h2 class="title">{{GirlStrong.GirlStrongTwo.title}}</h2>
                        <h3 class="description">{{GirlStrong.GirlStrongTwo.date}} at <br> {{GirlStrong.GirlStrongTwo.time1}}</h2>
                          <h5 class="description">Where: {{GirlStrong.GirlStrongTwo.location}}</h5>
                        <h5 class="description">{{GirlStrong.GirlStrongTwo.Description | characters:100}}</h5>
                        <button type="submit" class="btn btn-raised " data-toggle="modal" data-target="#GirlStrongTwoModal" layout-align="space-around center" > Learn More </button>

                        <br>

                        </div>
                    </div>
                </div>

            <div class="section" id="carousel">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-md-offset-2">

           <!-- Carousel Card -->
           <div class="card card-raised card-carousel">
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <div class="carousel slide" data-ride="carousel">

                 <!-- Indicators -->
                 <ol class="carousel-indicators">
                   <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                 </ol>

                 <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                   <div class="item active">
                     <img class="rotateimg90" src="https://firebasestorage.googleapis.com/v0/b/photos-cd63a.appspot.com/o/pbf-photos%2FBA38B0B6-D593-40CE-9E74-8F2ABB3BDA94.JPG?alt=media&token=1872eb4b-5dae-401c-a470-96b9f770fc4a" alt="Awesome Image">
                     <div class="carousel-caption">
                       <!-- <h4> Weekly bootcamps around St.Paul</h4> -->
                     </div>
                   </div>
                   <div class="item">
                     <img src="https://firebasestorage.googleapis.com/v0/b/photos-cd63a.appspot.com/o/pbf-photos%2FC3425798-6F1F-4676-8068-D34C2A2F2721.JPG?alt=media&token=d7374050-3f6b-42b0-95dd-22c7903a2d98" alt="Awesome Image">
                     <div class="carousel-caption">
                       <!-- <h4>Online coaching to up your game!</h4> -->
                     </div>
                   </div>
                   <div class="item">
                     <img src="https://firebasestorage.googleapis.com/v0/b/photos-cd63a.appspot.com/o/pbf-photos%2Fimage1.JPG?alt=media&token=ae4173d6-dee3-4b69-81c5-2c428e969914" alt="Awesome Image">
                     <div class="carousel-caption">
                       <!-- <h4>Youth Conditioning for all levels</h4> -->
                     </div>
                   </div>



                 </div>

                 <!-- Controls -->
                 <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                   <i class="material-icons">keyboard_arrow_left</i>
                 </a>
                 <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                   <i class="material-icons">keyboard_arrow_right</i>
                 </a>
               </div>
             </div>
           </div>
           <!-- End Carousel Card -->

        </div>

    </div>

</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="GirlStrongOneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{GirlStrong.GirlStrongOne.title}}</h4>
			</div>
			<div class="modal-body">
				  <p> {{GirlStrong.GirlStrongOne.Description}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="GirlStrongTwoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{GirlStrong.GirlStrongTwo.title}}</h4>
			</div>
			<div class="modal-body">
				  <p> {{GirlStrong.GirlStrongTwo.Description}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
