<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/personalbestfitness-76fa4.appspot.com/o/rsz_img_6524.jpg?alt=media&token=2e9c601a-cc95-412a-8e28-58bcc74b72fc'); height: 700px;">
        <div class="container">
            <div class="row">
      <div class="col-md-6">
        <h1 class="title">Let's Work Together</h1>
                  <h4>Be happy. Be healthy. Let's work together to <br> achieve your personal best.</h4>
                  <br />
                  <a href="#homepage#start" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Start Here
        </a>
      </div>
            </div>
        </div>
    </div>

<div id="start" class="main main-raised">
  <div class="container">
      <div class="section text-center section-landing">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h2 class="title">Achieve Your Personal Best</h2>
                      <h5 class="description">Each one of us is different, and we all have our own set of personal fitness and health goals. I thrive on working with a wide variety of people, getting to know each of my clients as individuals with their own individual goals and motivations, and then putting together a dynamic plan that helps them to successfully achieve those goals. I strive to not only help my clients meet their short-term goals, but to also provide them with the tools, knowledge, and motivation to continue with a happy and healthy lifestyle!</h5>
                  </div>
              </div>

        <hr>



        <form method="POST" action="http://formspree.io/gebauer.phil@gmail.com" class="contact-form">
  <div class="section landing-section">
        <div class="row">
          <div class="section landing-section">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center title">Let's Chat</h2>
                        <h4 class="text-center description">I'd love to hear from you! Whether it's about you personal training goals, my weekly bootcamps, or just saying hi - send me a message! Enter as little
                        or as much as you like and I'll get back to you ASAP! </h4>
                        <!-- <form method="POST" action="http://formspree.io/gebauer.phil@gmail.com" class="contact-form"> -->
                            <div class="row">
                                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">First Name</label>
                    <input name="first-name" class="form-control">
                  </div>
                                </div>
                                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Last Name</label>
                    <input name="last-name" class="form-control">
                  </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Email</label>
                    <input name="email" type="email" class="form-control">
                  </div>
                                </div>
                                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Subject</label>
                    <input name="subject" class="form-control">
                  </div>
                                </div>
                            </div>


              <div class="form-group label-floating">
                <label class="control-label">Your Message</label>
                <textarea name="message" class="form-control" rows="4"></textarea>
              </div>



                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">



              <div class="form-group label-floating">
                <label class="control-label">Fitness Goals</label>
                <textarea name="fitness-goals" class="form-control" rows="4"></textarea>
              </div>

              <div class="form-group label-floating">
                <label class="control-label">Other</label>
                <textarea name="other-info" class="form-control" rows="4"></textarea>
              </div>

                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                    <button type="submit" class="btn btn-raised">
                    Send Message
                  </button>
                  <input type="hidden" name="_next" value="http://localhost:3003/#/homepage" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              </form>

                  </div>
              </div>


          </div>
      </div>

</div>
