<!-- ***** NAV BAR ***** -->

    <nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="#homepage">Personal Best Fitness, LLC</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
              <li>
      					<a href="#homepage" >
      						About
      					</a>
      				</li>
    				<li>
    					<a href="#aboutme" >
    						About
    					</a>
    				</li>
            <li>
            <a href="#classes" >
              Training
            </a>
            </li>
            <li>
    				<li>
						<a href="#bootcamp" >
							Bootcamps
						</a>
    				</li>
          <li>
						<a href="#contact">
						  Contact
						</a>
						</li>
            <li>
  						<a href="#admin">
  						  Admin
  						</a>
  						</li>



		            <li>
		                <a href="https://www.facebook.com/personalbestfitnessllc/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="http://www.instagram.com" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>
